.App {
  text-align: center;
  font-Family:'Work Sans', sans-serif;
  height: 100%;


}
.fxIkTR {
  height: max-content;
}

#font-spotify-color{
  color: white;
  align-items: center;
}
.NavColor{
color: black;
}
.bg-dark {
  background-color: black!important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer{
  text-align: center;
    position: relative;
    bottom: 0;
    font-Family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding: 2em;
    color: rgb(220,220,220);
    background-color: rgba(29, 185, 84);
    height: 100px;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.refresh_access{

  background-color: rgba(29, 185, 84) ;
  width: 15%;
  border-radius: 2em;
  font-size: 1em;
}

